main{
    font-size: xx-small;
    text-align: center;
    border: solid 2px ;
    border-radius: 8px;
    border: 2px solid;
    border-color: #E9ECEF;
    width: 200px;
    height: 200x;
    padding: 40px;
    margin-left: 35%;
    
}

    input{
        border-radius: 4px;
        width: 195px;
        height: 30px;
        background-color: #E9ECEF;
        border-color: #E9ECEF;
        cursor: pointer;
        
        
    }
    input:hover{
        background-color: #DEE2E6;
        
            
    }
    input:focus{
        border-color: #000000;
        background-color: #FFFFFF;
                
    }
    input:focus::-webkit-input-placeholder {
        color: transparent;
    }

button{
    border-radius: 4px;
    background-color: #1971C2;
    border-color: #1864AB;
    color: white;
    width: 200px;
    height: 40px;
    cursor: pointer;
}
button:hover{
    background-color: #1864AB;
    
}
button:focus{
    border-color: #000000;
}

label {
    margin-right: 175px;
    cursor: pointer;
}
